@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary" })
</p>

@if (Model.Customers.Count == 0)
{
    <text>No customers, oh dear.</text>
}
else
{
<p>
    <ul>
        @foreach (var customer in Model.Customers)
        {
            @*<li>@Html.ActionLink(customer.Name, "details", "customers", new { customer.Id }, null)</li>*@
            <li>@Html.ActionLink(customer.Name, "Edit", "Customers", new { customer.Id }, null)</li>
        }
    </ul>
</p>
<p>
    Click on a customer to edit.
</p>
}
